{% extends 'main/index.html' %}

{% block 'body' %}


<div class="page-header">
    <div class="row">
        <div class="col-md-4">
            <div class="media">
                <div class="media-body">
                    <div class="display-6">Grade</div>
                    <p class="small text-muted">
                        Table</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="pull-xs-right" role="toolbar"><a class="btn btn-icon icon-only"></a>
                <a class="btn btn-success" href="{% url 'add_grade' %}">Add Grade</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade-scale top" id="btn-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-close"></i></span></button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" onclick="delete_modal()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="panel-wrapper">
        <div class="panel">
                <table class="table" id="gradeTable">
                    <thead>
                    <tr>
                        <th>Class</th>
                        <th>No of Students</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for grade in grades %}
                    <tr>
                        <td>{{grade.grade_name}}</td>
                        <td>{{grade.no_of_students}}</td>
                        <td>
                            <button class="btn btn-danger js-position" id="{% url 'delete_grade' grade.id %}" onclick="delete_function(this.id)" data-toggle="modal" data-target="#btn-delete"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

<script>
    $(document).ready( function () {
    $('#gradeTable').DataTable({
    "info": false,
    "lengthChange": false,
    "paging": false
    });
    } );
</script>

{% endblock %}