{% extends 'main/index.html' %}

{% block 'body' %}

{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}

<div class="page-header">
    <h2 class="p
    age-header-title">Add Grade</h2>
</div>

<div class="container-fluid">
    <div class="row js-grid-wrapper panel-wrapper">
        <!-- #FORM-->
        <form method="post" action="{% url 'add_grade' %}">
            {% csrf_token %}
            <div class="col-sm-12 js-grid">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row m-b-3">
                            <div class="form-group col-sm-4">
                                <h4 class="demo-sub-title">Grade Name</h4>
                                <input class="form-control focus" type="text" name="grade_name" placeholder="Class 1">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg">Add Class</button></div>
                    </div>
                </div>
        </form>
    </div>
</div>


{% endblock %}