{% extends 'main/base.html' %}

{% block 'body' %}


<div class="form-container">
    <h2>My Subject teachers:</h2>
    {% for teach in teachers %}
    <div class="all_users">
        {% for subject in teach.subject %}
        Subject: <b>{{ subject }}</b><br>
        {% endfor %}
        Full Name: <b>{{ teach.teacher.user.full_name}}</b><br>
        Email: <b>{{ teach.teacher.user.email }}</b><br>
        Phone: <b>{{ teach.teacher.user.phone }}</b><br>
    </div>
    {% endfor %}
</div>

{% endblock %}