{% extends 'main/index.html' %}

{% block 'body' %}

{% load static %}

<div class="layout">

    <div class="layout-content">
        <div class="page-header">
            <div class="media">
                <div class="media-left media-meddle"><img src="{{request.user.profile_pic.url}}" alt="" width="80">
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="display-5">{{request.user.full_name}}</div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="panel-wrapper">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="big">Address : <b>{{request.user.address}}</b></div>
                                        <div class="big">Phone : <b>{{request.user.phone}}</b></div>
                                        <div class="big">Email : <b>{{request.user.email}}</b></div>
                                        <div class="big">Grade : <b>{{request.user.student.grade}}</b></div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="view-header text-uppercase">My Subjects</h4>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Subject Code</th>
                                                <th>Subject Name</th>
                                            </tr>
                                            </thead>
                                            {% for subject in subjects %}
                                            <tbody>
                                            <tr>
                                                <td>{{ subject.subject_code }}</td>
                                                <td>{{ subject.subject_name }}</td>
                                            </tr>
                                            </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}